
<div class="box-newgroup">
  <div class="box-inner-newgroup">
    <%= form_for @group do |f| %>
      <h1>投稿</h1>
      <div class="newgroup-name">
        <%= @username %>
      </div>
      <div class="newgroup-content">
        <%= f.text_area :content, :size => 140 %>
      </div>
      <div class="newgroup-image">
        <%= f.file_field :image, class: "hidden" %>
      </div>
      <div class="newgroup-fan">
        <%= f.select :hashbody, [[@fan, @fan], [@fan2, @fan2], [@fan3, @fan3]], include_blank: "推しを選択" %>
      </div>
      <div class="newgroup-post">
        <%= f.submit "投稿する" %>
      </div>
      <div class="box-back">
        <p><span>------------</span> 一覧に戻る <span>------------</span></p>
        <%= link_to "投稿一覧に戻る", groups_path %>
      </div>
    <% end %>
  </div>
</div>




















