<p id="notice"><%= notice %></p>

<div class="schedule-box">
<%= link_to '予定を追加', new_schedule_path, {class:"toaddschedule"} %>

<%= month_calendar events: @schedules do |date, schedules| %>
    <%= date.day %>

    <% schedules.each do |schedule| %>
        <div>
            <%= link_to schedule.title, schedule, {class:"toschedule-detail"} %>
        </div>
    <% end %>
<% end %>
</div>