<%= stylesheet_link_tag 'schedules', :media => "all" %>

<div class="box-sche">
    <div class="box-inner-sche">
        <%= form_with(model: @schedule, local: true) do |form| %>
        
        <div class="box-title-sche">
            <%= form.label :たいとる %><br />
            <%= form.text_field :title %>
        </div>
        <div class="box-time-sche">
            <%= form.label :予定時間 %><br />
            <%= form.datetime_select :start_time, {}, {class:"box-time-sche"} %>
        </div>
        <div class="box-des-sche">
            <%= form.label :説明 %>
            <%= form.text_field :content %>
        </div>
        <div class="submit-sche">
            <%= form.submit %>
        </div>
    <% end %>
    </div>
</div>
