<%= stylesheet_link_tag 'signup', :media => "all" %>


<div class="box-for-edit">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h2>ゆーざー</h2>
      <div class="box-name">
        <%= f.label :なまえ %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "なまえ" %>
      </div>
      <div class="box-fan">
        <%= f.label :推し %><br />
        <div class="box-fan-field">
          <%= f.text_field :fan, autofocus: true, autocomplete: "fan", placeholder: "推し1" %>
          <%= f.text_field :fan2, autofocus: true, autocomplete: "fan", placeholder: "推し2" %>
          <%= f.text_field :fan3, autofocus: true, autocomplete: "fan", placeholder: "推し3" %>
        </div>
      </div>
      <div class="box-email">
        <%= f.label :めーる %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "めーるあどれす" %>
      </div>
      <div class="box-password">
        <%= f.label :ぱすわーど（６文字以上）（変更しない場合は空欄）%><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <%= f.label :ぱすわーど確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <%= f.label :現在のぱすわーど %> <i>(変更保存のため)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="box-update">
        <%= f.submit "あっぷでーと" %>
      </div>
      
    <div class="box-deleteusr">
      <p><span>------------</span> あかうんとを削除する場合 <span>------------</span></p>
      <%= link_to "あかうんと削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %>
    </div>
    <% end %>
  </div>
</div>
